version: "3.8"

services:
  flutter-builder:
    image: ghcr.io/cirruslabs/flutter
    container_name: flutter_builder
    working_dir: /workspace
    volumes:
      - ./:/workspace:cached
      - ./build_output:/workspace/build_output
      - flutter_cache:/root/.pub-cache
      - gradle_cache:/root/.gradle
    environment:
      - GRADLE_USER_HOME=/root/.gradle
      # Prevent Flutter from prompting for analytics during first run
      - FLUTTER_SUPPRESS_ANALYTICS=true
      
    command: bash build.sh
    tty: true
    stdin_open: true
    restart: "no"

volumes:
  flutter_cache:
  gradle_cache:
